.grid-niños {
  display: grid;
  grid-template-columns: repeat(1, 90vw);
  grid-auto-rows: 1fr;
  justify-content: center;
  gap: 1vh;
}
.grid-niños div {
  min-height: 30vh;
  height: 100%;
}
@media (min-width: 768px) {
  .grid-niños {
    grid-template-columns: repeat(6, 11vw);
  }
}
